
.welcome {
  margin-left: 5em;
  text-align: left;
  font-weight: bold;
  font-size: xx-large;
  color: lightskyblue;

  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow:20px 20px 50px 20px lightblue;

  margin-bottom: 2em;

  background-color: lavenderblush;
}

#content {
  min-height: 42em;
}


