

<div class="row item">
  <div class="col-md-2">
    <img [src]="product.img" [alt]="product.name" class="img-responsive">
  </div>

  <div class="col-md-6 item-des">
      <p>{{product.name}}<span> {{product.description}}</span></p>
      <a class="delete-item" (click)="deleteItem(product)">delete</a>
  </div>

  <div class="col-md-3 item-price">
      $ {{product.price}}
  </div>

  <div class="col-md-1 item-amount">
    <select #selectInput (change)="countWantedChanged(selectInput.value)">
      <option [value]=i
              *ngFor="let item of amountRange let i = index"
              selected
      >{{i}}</option>
    </select>

  </div>

</div>




